@model dynamic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid fix-padding--fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators fix--display">
                    <li data-target="#demo" data-slide-to="0" class="edit_surf"></li>
                    <li data-target="#demo" data-slide-to="1" class="edit_surf1"></li>
                    <li data-target="#demo" data-slide-to="2" class="edit_surf2"></li>
                </ul>
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Content/Image/Home/1.png" alt="Los Angeles"
                             class="carousel_bg"> <button class="btn_details_casourel">See More</button>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/Image/Home/banner.png" alt="Chicago"
                             class="carousel_bg"> <button class="btn_details_casourel">See More</button>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/Image/Home/3.png" alt="New York" class="carousel_bg">
                        <button class="btn_details_casourel">See More</button>
                    </div>
                </div>
                <!-- Left and right controls -->
            </div>
        </div>
    </div>
    <!-- Text -->
    <div class="container edit_space_btn">
        <div class="text_home_fa">
            <h2>
                Yash's Bracelet
            </h2>
            <p class="text_home_f">
                Bracelets are made from a variety of selected types of gold combined with quality stones and diamonds,
                and with the hands of many years of experience of jewelers, we create the best products to serve our customers the best.
                The most perfect item
            </p>
        </div>
    </div>
    <!-- VONG TAY -->
    <div class="container-fluid edit_space" data-aos="fade-up" data-aos-duration="5000">
        <div class="row">
            @foreach (var item in Model.Home1)
            {
                <div class="col-sm-3 effect_item">
                    <a href="">
                        <img lazy_src="@item.Path@item.Img" src="imgaeforlazy" class="img_item" />
                        <img lazy_src="@item.Path@item.secondImg" src="imgaeforlazy" class="img_itemhover" />
                        <p class="title_item_">@item.Name</p>
                        <p class="title_item__">AOV</p>
                        <p class="title_item__one">@item.Price$</p>
                    </a>
                </div>
            }

        </div>
    </div>
    <!-- button view more-->
    <div class="container edit_space_btn" data-aos="fade-up" data-aos-duration="5000">
        <a class="btn btn-dark btn_view_more" href="">
            View More
        </a>
    </div>
    <!-- RINGS -->
    <div class="container-fluid edit_space_btn view_spaces" data-aos="fade-up" data-aos-duration="5000">
        <div class="row">
            @foreach (var item in Model.Home2)
            {
                <div class="col dp_block">
                    <img lazy_src="@item.Path@item.Img" src="imgaeforlazyload" class="item_col_3" />
                    <h3>@item.Name</h3>
                    <p>
                        @item.Price
                    </p>
                    <div>
                        <button class="btn_shop">SHOP    <i class="fa-solid fa-arrow-right"></i></button>
                    </div>

                </div>

            }

        </div>
    </div>
    <!-- banner under -->
    <div class="container-fluid edit_space_bns gemsjwelley_space" data-aos="fade-up" data-aos-duration="5000">
        <div class="img_bns">
            <img src="~/Content/Image/Home/bns.jpg" class="bns_img" />
            <div class="bns">
                <h2>
                    YASH GEMS & JEWELRY

                </h2>
                <p>
                    Featuring rare pink diamonds from the now closed Argyle Diamond Mine in Western Australia.
                    These pink diamonds are truly unique and will become an heirloom for future generations or as an investment you can wear. Jewels of the Kimberley also have an amazing collection of loose pink diamonds available for viewing by private appointment.
                </p>
                <button class="btn btn-dark">About Us</button>
            </div>
        </div>
    </div>
    <!-- TEXT -->
    <div class="container mobile_yash" style="margin-top: 10em">
        <div class="my-4 text_home_fa">
            <h2>
                Yash'S ComBo Jewelry
            </h2>
            <p class="text_home_f">
                Featuring rare comno from the now closed Argyle Diamond, Stone, Gold most quality.
                These combo jewelry are truly unique and will become an heirloom for future generations or as an investment you can wear. Jewels of the Kimberley also have an amazing collection of loose Combo jewelry available for viewing by private appointment.
            </p>
        </div>
    </div>
    <!-- COMBO -->
    <div class="container-fluid edit_space" data-aos="fade-up" data-aos-duration="5000">
        <div class="row">
            @foreach (var item in Model.Home3)
            {
                <div class="col-sm-3 effect_item">
                    <a href="">
                        <img lazy_src="@item.Path@item.Img" src="imgaeforlazy" class="img_item" />
                        <img lazy_src="@item.Path@item.secondImg" src="imgaeforlazy" class="img_itemhover" />
                        <p class="title_item_">@item.Name</p>
                        <p class="title_item__">AOV</p>
                        <p class="title_item__one">@item.Price$</p>
                    </a>
                </div>
            }
        </div>
    </div>
    <!--VIEW MORE -->
    <div class="container edit_space_btn" data-aos="fade-up" data-aos-duration="5000">
        <a class="btn btn-dark btn_view_more" href="">
            View More
        </a>
    </div>
    @* Gam *@
<div class="edit_space_btn product_spaces" data-aos="fade-up" data-aos-duration="5000">
    <div class="clearfix">
        <h2 class="letter">Shop By Product</h2>
    </div>
    @foreach (var item in Model.Home4)
    {
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Home/Bracelets.jpg">
                    <img lazy_src="@item.Path@item.Img" src="imgaeforlazy" alt="Bracelets" width="600" height="414.4px">
                </a>
                <div class="desc">@item.Name</div>
            </div>
        </div>
    }


</div>

<div class="edit_space_g collections_spaces" data-aos="fade-up" data-aos-duration="5000">
    <div class="clearfix">
        <h2 class="letter collections">Explore Our Collections</h2>
    </div>
    @foreach (var item in Model.Homef)
    {
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Home/Bracelets.jpg">
                    <img lazy_src="@item.Path@item.Img" src="imgaeforlazy" alt="Bracelets" width="600" height="414.4px">
                </a>
                <div class="desc">@item.Name</div>
            </div>
        </div>
    }
</div>

    <div class="yash container-fluid">
        <a>
            <img class="image" lazy_src="~/Content/Image/Home/Yash_Earrings.jpg" src="imgaeforlazy" />
        </a>

        <div class="row marl-home">
            <div class="column">
                <div class="card">
                    <p><i class="fa fa-user"></i></p>
                    <p>Partners</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p><i class="fa fa-award"></i></p>
                    <p>Projects</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p><i class="fa fa-truck-fast"></i></p>
                    <p>Happy Clients</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p><i class="fa fa-gem"></i></p>
                    <p>Meeting</p>
                </div>
            </div>
        </div>
        <div class="clearfix mt-3">
            <h2 class="text1">
                Jewels of the Yash Gems & Jewelry
            </h2>
            <i class="text2">New collections are released to our VIP customers, sign up to never miss out</i>
        </div>
        <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
            <input type="text" placeholder="Your E-mail" name="search2">
            <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
        </form>
    </div>
</div>
<script>
    AOS.init();
    function load(img) {
        const url = img.getAttribute('lazy_src')
        img.setAttribute('src', url)
    }
    function ready() {
        if ('IntersectionObserver' in window) {
            var lazyimg = document.querySelectorAll('[lazy_src]')
            let obsesr = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        load(entry.target)
                    }
                })
            });
            lazyimg.forEach(img => {
                obsesr.observe(img)
            })
        } else {

        }
    }
    document.addEventListener('DOMContentLoaded', ready)
</script>

